* {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

input {
  background: transparent;
}


@layer base {

  label {
    --at-apply: h-6 relative inline-block;
  }

  [type="checkbox"] {
    --at-apply: w-11 h-0 cursor-pointer inline-block;
    --at-apply: focus:outline-0 dark:focus:outline-0;
    --at-apply: border-0 dark:border-0;
    --at-apply: focus:ring-offset-transparent dark:focus:ring-offset-transparent;
    --at-apply: focus:ring-transparent dark:focus:ring-transparent;
    --at-apply: focus-within:ring-0 dark:focus-within:ring-0;
    --at-apply: focus:shadow-none dark:focus:shadow-none;
    
    --at-apply: after:absolute before:absolute;
    --at-apply: after:top-0 before:top-0;
    --at-apply: after:block before:inline-block;
    --at-apply: before:rounded-full after:rounded-full;

    --at-apply: after:content-[''] after:w-5 after:h-5 after:mt-0.5 after:ml-0.5;
    --at-apply: after:shadow-md after:duration-100;

    --at-apply: before:content-[''] before:w-10 before:h-full;
    --at-apply: before:shadow-[inset_0_0_#000];

    --at-apply: after:bg-white dark:after:bg-gray-50;
    --at-apply: before:bg-gray-300 dark:before:bg-gray-600;
    --at-apply: before:checked:bg-lime-500 dark:before:checked:bg-lime-500;
    --at-apply: checked:after:duration-300 checked:after:translate-x-4;

    --at-apply: disabled:after:bg-opacity-75 disabled:cursor-not-allowed;
    --at-apply: disabled:checked:before:bg-opacity-40;
  }
}
