* {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

input {
  background: transparent;
}

.btn {
  --at-apply: px-8 py-2 rounded-md;
}

.btn-outline {
  --at-apply: border-1 border-lime text-lime hover:bg-white/40 active:bg-white/50;
}

[contenteditable=true]:empty:before{
  content:attr(data-placeholder);
  --at-apply: text-white/50;
}

[contenteditable=true] {
  --at-apply: outline-none border-none;
}